<!--The content below is only a placeholder and can be replaced.-->
<h1>You can resize windows to see hidden screen</h1>
<app-product *appForOnlyScreen="'desktop'"></app-product>
<h2 *appForOnlyScreen="'mobile'">Mobile Screen: </h2>
<ul>
  <li>
    <h2 *appForOnlyScreen="'desktop'"><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Desktop Screen</a></h2>
  </li>
  <li *appForOnlyScreen="'tablet'">
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">Tablet Screen</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">All shows</a></h2>
  </li>
</ul>

